div.modal {
  .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

    button {
      margin-bottom: 10px;
    }
  }

  div.dismiss {
    display: flex;
    justify-content: flex-end;

    fa-icon {
      font-size: 30px;
      padding-left: 18px;
    }
  }
}
