<ion-content>
    <form
        *ngIf="sentStatus$ | async as status"
        [formGroup]="form"
        class="auth-page"
    >
        <img src="./assets/branding/icon.png" />
        <h2>CABALLUS Login</h2>
        <h2>Forgot Password</h2>
        <p class="message">
            <span *ngIf="status === SentStatus.NotSent">
                Please enter a valid email address
            </span>
            <span *ngIf="status === SentStatus.Sent">
                If your address exists in our system look for a recovery email
            </span>
        </p>
        <div class="field-container">
            <mat-form-field *ngIf="status === SentStatus.NotSent">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    formControlName="email"
                    placeholder="Email"
                />
                <mat-error [rfxError]="form.get('email')"></mat-error>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button
                *ngIf="status === SentStatus.NotSent"
                mat-raised-button
                class="large-round spinner"
                (click)="onSubmit()"
                [disabled]="submitting$ | async"
            >
                Send
                <mat-spinner *ngIf="submitting$ | async"></mat-spinner>
            </button>
            <button
                *ngIf="status === SentStatus.Sent"
                mat-raised-button
                class="large-round"
                routerLink="/auth/login"
            >
                Go Back
            </button>
        </div>
        <div
            *ngIf="status === SentStatus.NotSent"
            class="bottom-links"
        >
            <a routerLink="/auth/login">Go Back</a>
        </div>
    </form>
</ion-content>
