/*
    See styles.scss for auth page style template
*/

form {

    h2 {
        margin: 0;
    }

    p.message {
        text-align: center;
        width: 260px;
        margin: auto;
        margin-top: 12px;
        height: 44px;
    }

    div.field-container {
        height: 100px;
    }
}
