ion-content {
   padding: 20px;

header {
    background-color: #f87f31;
    display: flex;
    color: white;
}

h1 {
  width: 85%;
  text-align: center;
  margin-top: 10px;
}

.back-arrow {
  margin-left: 15px;
  margin-top: 10px;
  width: 5%;
  font-size: 25px;
}

    .d-flex {
      display: flex;
    }

  .horse-profile-block {
    padding: 10px 10px;
    margin: 10px 20px;
    border: 1px solid #80808066;
		border-radius: 15px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    p {
      margin: 0;
      margin-bottom: 5px;
    }
  }

  .horse-image {
    height: 60px;
    width: 60px;
    background: #80808059;
    border-radius: 30px;
    margin-right: 10px;
  }

  .horse-name {
    font-weight: 600;
  }

  .light-text {
    color: gray;
  }

  .text-center {
    text-align: center;
  }

  div.search::ng-deep {
    display: flex;
    justify-content: center;

    mat-mdc-form-field {
      width: 380px;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-focused,
    .mat-mdc-form-field-label,
    .mat-mdc-form-field-outline,
    .mat-mdc-form-field-appearance-outline,
    .mat-mdc-form-field-ripple,
    input.mat-input-element {
      color: #f87f31;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-mdc-form-field-wrapper {
      padding-bottom: 10px;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-mdc-form-field-prefix {
      padding-right: 4px;
    }
  }

  .details-arrow {
    font-size: 16px;
    border-radius: 50%;
    background-color: #f87f31;
    color: white;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
    margin-top: 5px;
  }

  .navigate {
    position: absolute;
    right: 10px;
  }
}
