.notifications {
    .header-bar {
        background: #f87f31;
        color: white;
        text-align: center;
        padding: 15px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        height: 54px;
    }

    ion-list,
    ion-item {
        --background: transparent;
        background: transparent !important;
    }

    &-loading {
        position: fixed;
        bottom: 32px;
        left: calc(50% - 16px);
    }

    &-pending {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: var(--ion-color-secondary);
    }

    &-message {
        color: var(--color);
        font-family: var(--caballus-font-family-body);
        font-size: 110%;
    }
    &-user-display-name{
        color: var(--color);
        font-family: var(--caballus-font-family-body);
        font-size: 130%;
        text-transform: capitalize;
    }
    &-thumbnail {
        width: 48px !important;
        height: 48px !important;
        --size: 48px;
        --border-radius: 4px;
    }

    // &-post {
    //     margin-bottom: 16px;

    //     &-media {
    //         --padding-start: 0px;
    //         --padding-end: 0px;
    //         --inner-padding-start: 0px;
    //         --inner-padding-end: 0px;
    //     }
    // }
}
