header {
  background-color: #f87f31;
  display: flex;
  color: white;
}

h1 {
  width: 85%;
  text-align: center;
  margin-top: 10px;
}

.back-arrow {
  margin-left: 15px;
  margin-top: 10px;
  width: 5%;
  font-size: 25px;
}

.search {
  margin-right: 15px;
  margin-top: 10px;
  width: 5%;
  font-size: 25px;
}