.mat-mdc-card{
    margin: 16px;
    border-radius: 20px;

    .mat-mdc-card-title {
        .row{
            display: flex;
            
            .card-title{
                margin-top: auto;
                margin-bottom: auto;
                font-size: 1.3rem;
                font-size: 20px;
                font-weight: bold;
                .gain-css{
                    font-size: 1rem;
                }
            }
    
        }
    }
}