::ng-deep.occupied-horse-modal {
  &::part(content) {
    height: 60% !important;
  }
}

div.modal {
    width: 100%;
    display: flex;
    justify-content: center;

    div.content-strip {
        width: 400px;

        h1 {
            text-align: center;
            margin: auto;
            margin-bottom: 24px;
            margin-top: 80px;
        }

        p {
            width: 300px;
            margin: auto;
        }

        div.button-container {
            display: flex;
            flex-direction: column;

            button.large-round {
                margin: auto;
                margin-top: 24px;
                width: 200px;
            }
        }
    }
}
