<div class="ride-analytics-wrapper">
  <mat-card appearance="outlined" class="card-wrapper">
    <mat-card-header class="header">
      <mat-card-title class="title-border">Analytics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="graph-label">
        <div class="x">
          Speed
        </div>
        <div class="y" *ngIf="ride.category !== RideCategory.Arena">
          Elevation
        </div>
      </div>
      <div class="graph">
        <canvas
          baseChart
          width="400"
          height="300"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [type]="'line'"
        ></canvas>
      </div>
      <div class="graph-speed">
        <div class="speed">
          <div class="value" [innerText]="(speed$ | async).avgSpeed | number : '1.2-2'">
          </div>
          <div class="label">
            Avg Speed
          </div>
        </div>
        <div class="speed">
          <div class="value" [innerText]="(speed$ | async).maxSpeed | number : '1.2-2'">
          </div>
          <div class="label">
            Max Speed
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
