<header>
    <fa-icon
        class="back-arrow"
        [icon]="['fas', 'arrow-left']"
        (click)="goBack()"
    ></fa-icon>
    <h1>Payment Details</h1>
</header>

<div class="page-container">
    <mat-card>
        <mat-card-content>
            <div class="card-container">
                <div class="card">
                    <div class="card-header">
                        <span>Please review you payment details.</span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <form [formGroup]="paymentForm" id="payment-form" class="center" (ngSubmit)="savePaymentDetails()">
        <div class="form-content">
            <input type="text" placeholder="Enter Coupon Code" class="coupon-code-input" formControlName="couponCode" />
            <div id="stripe-card" class="stripe-card"></div>

            <div>
                <span class="confirmation">
                    By clicking 'Pay Now' you agree to pay for...
                </span>

                <div class="continue-btn">
                    <button
                        class="back-btn large-round"
                        mat-raised-button
                        color="primary"
                        type="button"
                        (click)="goBack()"
                    >
                        Back
                    </button>

                    <button [disabled]="paymentForm.invalid" mat-raised-button class="large-round spinner"
                            color="primary"
                            type="submit" id="submit">
                        <div class="loading" *ngIf="paymentInProcess$ | async">
                            <mat-spinner></mat-spinner>
                        </div>
                        <span>Pay Now</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
