<ion-content>
    <form [formGroup]="form" class="auth-page">
        <img src="./assets/branding/icon.png" />
        <div class="heading">
            <h2>CABALLUS Login</h2>
            <h2>Reset Password</h2>
        </div>
        <p>Please enter your new password</p>
        <div class="field-container">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                    matInput
                    placeholder="Password"
                    [type]="(passwordVisible$ | async) ? 'text' : 'password'"
                    formControlName="password"
                />
                <mat-icon
                    matSuffix
                    class="visbility"
                    (click)="toggleVisibility()"
                >
                    {{ (passwordVisible$ | async) ? 'visibility' : 'visibility_off' }}
                </mat-icon>
                <mat-error [rfxError]="form.get('password')"></mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="!!form.get('confirm')">
                <mat-label>Confirm Password</mat-label>
                <input
                    matInput
                    placeholder="Confirm Password"
                    type="password"
                    formControlName="confirm"
                />
                <mat-error
                    [rfxError]="form.get('confirm')"
                    [rfxErrorMessages]="{ equalTo: 'Passwords must match' }"
                ></mat-error>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button
                mat-raised-button
                class="large-round spinner"
                (click)="onSubmit()"
                [disabled]="submitting$ | async"
            >
                Submit
                <mat-spinner *ngIf="submitting$ | async"></mat-spinner>
            </button>
        </div>
        <div class="bottom-links">
            <a routerLink="/auth/login">Cancel</a>
        </div>
    </form>
</ion-content>
